!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "refresh", :content => "120"}

    -# to make mediaqueries work 
    %meta{:name => "viewport", :content=>"width=device-width; initial-scale=1.0; maximum-scale=1.0;"} 

    %meta{"property" => "og:title", :content => "Equivalent scrapbook"}
    %meta{"property" => "og:type", :content => "blog"}
    %meta{"property" => "og:url", :content => ""}
    %meta{"property" => "og:image", :content => 'http://eq8scrapbook.heroku.com/'}
    %meta{"property" => "og:site_name", :content => "Equivalent (eq8.eu) - scrapbook"}

    %link{ :rel=>"icon", :type=>"image/png", :href=>"/favicon.png" }

    %link{"rel" => "stylesheet", "href" => "/stylesheet.css", "type" => "text/css"}

    -#%link{ "href"=> 'http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2', 'rel'=> 'stylesheet', 'type'=>'text/css'}



    -#change lines as you desire
    %meta{"author" => "Equivalent (eq8.eu)"}  
    %title= @title || "#{settings.owner_name} - scrapbook"
    

  %body
    .wrapper
      .holder
        %header
          %hgroup
            %h1 Equivalent scrapbook
            = yield_content :header
          %nav#site
            %h2.hidden Site navigation
            %ul
              %li
                = link_to('/', I.t('links.home'))
              %li
                = link_to('/links', I.t('links.links'))
              %li
                = link_to('/readed-backlog', I.t('links.readed'))
        %article
          =yield 
        %aside
          ~ markdown (@sidelinks)
          - @plugin_right_sidebar_partials.each do |file|
            %section.plugin
              =haml read_file(file)
        .clear
      .clear
    .footer
      footer

